.alert,
.error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.alert {
  color: green;
  border-color: green;
}

.error {
  color: red;
  border-color: red;
}
